[submodule "OWFINANCEBackend2025"]
	path = OWFINANCEBackend2025
	url = git@github.com:oteroweb/OWFINANCEBACKEND2025.git
	branch = dev
[submodule "OWFinanceFrontend2025"]
	path = OWFinanceFrontend2025
	url = git@github.com:oteroweb/OWFINANCEFRONTEND2025.git
	branch = dev
